html {
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}

.links {
   text-decoration: none;
   color: #000000;
   font-size: 11px;
   position: absolute;
}

.links:hover {
   color: #0092e5
}

input[type=button] {
   background-color: #00a2ff;
   width: 150px;
   height: 40px;
   border-radius: 10px;
   cursor: pointer;
   box-shadow: 5px 5px 5px 2px #888888;
}

input[type=button]:hover {
   background-color: #0092e5;
}