html {
   background: url("/../img/background.jpg") no-repeat; 
   background-size: cover;
}

body {
   margin: 0px;
   height: 100%;
   width: 100%;
   position: absolute;
}

#noscript {
   background-color: #cccccc;
   text-align: center;
}

#invalid-pass {
   position: absolute;
   right: -210px;
   top: 75px;
   height: 150px;
   width: 200px;
   background-color: white;
   border: 1px solid grey;
   border-radius: 10px;
   display: none;
}

#invalid-pass p {
   padding-left: 15px;
}

#invalid-user {
   position: absolute;
   left: -210px;
   top: 75px;
   height: 150px;
   width: 200px;
   background-color: white;
   border: 1px solid grey;
   border-radius: 10px;
   display: none;
}

#invalid-user p {
   padding-left: 15px;
}

#login-box {
   background: #ffffff;
   height: 300px;
   width: 600px;
   border-radius: 20px;
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

#loginDiv {
   position: absolute;
   bottom: 40px;
   right: 40px;
}

/* #submit-text {
   position: relative;
   top: 10.5px;
   left: 51.5px;
} */

.input {
   border-radius: 6px;
   border: 1px solid grey;
   position: relative;
   left: 5px;
   width: 150px;
   height: 30px;
}

h1 {
   position: relative;
   margin-bottom: 50px;
   width: 150px;
   display: inline-block;
   left: 225px;
}

.form-block {
   display: inline-block;
   width: 200px;
   height: 100px;
}

label {
   margin-left: 5px;
}

#left-block {
   margin-left: 100px;
}

#header-icon {
   display: inline-block;
   position: absolute;
   right: 40px;
   top: 20px;
   width: 80px;
   height: 80px;
}

#pass-reset {
   left: 310px;
   bottom: 120px;
}

#pass-forget {
   left: 310px;
   bottom: 105px;
}

#register {
   left: 105px;
   bottom: 120px;
}
