html {
   background: url("/../img/background.jpg") no-repeat; 
   background-size: cover;
   position: relative;
}

body {
   margin: 0px;
   height: 100%;
   width: 100%;
   position: absolute;
}

h2{
   text-align: center;
   font-size: 24px;
}

div.container{
   width: 430px;
   height: 531px;
   margin: auto;
   position:relative;
   top: 50%;
   transform: translate(0%, -50%);
}

div.main{
   width: 320px;
   float:left;
   padding: 10px 55px 40px;
   background-color: #fff;
   box-shadow: 0 0 10px;
   border-radius: 20px;
   font-size: 13px;
}

input[type=text],[type=password] {
   width: 97.7%;
   height: 34px;
   padding-left: 5px;
   margin-bottom: 20px;
   margin-top: 8px;
   border: 1px solid grey;
   color: black;
   font-size: 16px;
   border-radius: 6px;
}

label{
   color: black;
   text-shadow: 0 1px 0 #fff;
   font-size: 14px;
}
