html {
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}

.links {
   text-decoration: none;
   color: #000000;
   font-size: 11px;
   position: absolute;
}

.links:hover {
   color: #0092e5
}