/* This is a CSS comment */

/* Order of specificity: The style with the most specific selector is what is displayed.
   So !important > inline styles > external style. If you apply width: 50% to all div tags
   then width: 25% to a div tag with the id "header" then width: 25% will be displayed. */
   
/* Use the developer tool. It's the most helpful tool in web development. You can
   right-click > inspect element to bring it up, or find it in the browser menu under something
   like "developer console". You can look at all the page's html, individual objects values/CSS,
   text output for debugging, etc... If you want to see how somebody is doing something on a web
   page, you can inspect the element to see their code. */

html {
    height: 100%;
    width: 100%
}

body {
    width: 100% !important;
    /* The width parameter controls the width of the object. It can be in pixels (px),
       percentage of screen browser width, and em (the size of the font, so 2em = 2 * font-size.
       The !important tag will override the order of specificity, but should be a last resort,
       beacuse it's bad coding practice. */

    height: 100%;

    margin: 0px;
    /* Every object displayed has margins, borders, and padding around the object. There's
       three ways to alter these parameters: margin: 0px makes margins on all side 0px wide.
       margin: 0px 0px 0px 0px affects the margins on the top, right, bottom, left in that
       order. Finally, you can use margin-top: 0px to target a specific side. */
}
/* This is the basic form of CSS. Before the brackets you need to identify what
   you are applying the styles to (selector). In this case we are targeting all body tags. */

.header {
/* This selector targets objects with the class "header". To use a class selector use the format
   .ClassName */
   
    width: 100%;
    height: 10%;
    /* Height is similar to width. */

    background-color: #cccccc;
    /* Background-color is pretty self-explanatory. Colors can be specified in #hex_value,
       rgb(0, 0, 0), or 140 predefined colors like "blue" */
}

#table-container {
    border: 1px solid black;
}

#header-icon {
/* This selector targets objects with the id "header-icon". To use an id selector use the format
   #id_name */
    width: 50px;
    height: 100%;
    display: inline;
    /* Objects displayed as block are on new lines. Objects displayed as inline do not need to be
       on a new line so two inline objects can be next to each other. */
}

#header-text {
    display: inline;
    margin: 0px;
    position: relative;
    /* The position parameter is used for moving items around. You can give a few different values
       for this parameter. Relative means that the object will be rendered on the page. Any movement
       of the object will move where it is displayed relative to where it was suppose to be displayed,
       but the object flow remains (You can read up on the DOM, Document Object Model, but it's a
       bit confusing. Basically when the page renders all the objects, they are each given their own space.
       With relative positioning the object still takes up the space it was given, even if you change where
       it's displayed. */
    bottom: 10px;
    /* With relative positioning you can target top, bottom, left, and right. Bottom: 10px adds
       10 pixels to the bottom positioning, thus displaying it 10 pixels higher. */

    font-size: 35px;
    padding-left: 40px;
}

#body {
    height: 90%;
}

.fb-like{
    position: fixed;
    top: 30px;
    right: 5px;
}

.devices {
    position: relative;
    min-height: 30%;
}

#device-column {
    background-color: #eeeeee;
    width: 25%;
    height: 100%;
    display: inline;
    float: left;
    /* Float is a bit weird. Basically this makes the object move as far to the direction specified
     as it can. */
    
    overflow-y: auto;
    position: relative;
}

.device-header {
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.button {
    height: 20px;
    width: 20px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
}

#project-column {
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    display: inline;
    float: left;
    overflow-y: auto;
}

.label {
    position: relative;
    top: 5px;
    left: 3%;
}

.dropdown-text {
   margin: 20px;
   /*top right bottom left*/
   padding: 5px 0px 5px 5px;
}

#generate-code {
    margin-left: 3%;
}

#code-column {
    background-color: #000000;
    width: 25%;
    height: 100%;
    display: inline;
    float: left;
    overflow-y: auto;
}

#device-text {
    margin: 0px;
    padding: 20px 20px 20px 20px;
}

#project-text {
    margin: 0px;
    padding: 20px 20px 20px 20px;
}

#code-text {
    color: aqua;
    /* Color specifies the font color. */

    margin: 0px;
    padding: 20px 20px 20px 20px;
}

.submit-button {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: #cccccc
}

/* Note: Designing your web page is a lot of trial and error. Even I am not always sure how things
   are going to be displayed. If you have a certain design you want then just start changing various
   parameters until you eventually get it to display right. */
